<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<img src="bg1.jpg" alt=”background”>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1049008056057012"
     crossorigin="anonymous"></script>

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<!-- end custom head snippets -->
